@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body{
    font-family: 'lato', 'Montserrat';
     background-color: black;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
}
.hero{
   height: 100vh;
   width: 100vh;
   color: yellowgreen;
   /*display:flex;*/
   /*flex-direction: column; */
   text-align: center;
   /*justify-content: center;*/
   background: url("../images/eclipse.jpg") no-repeat center center;
   background-size: cover;
   background-position: center;
}
.spin-container{
    width: 300px;
    height:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid yellowgreen;
}

.spinwheel{
    width: 50%;
    height: 50%;
    position: absolute;
    top:50%;
    left:50%;
    
   
    

}

.ett {
    background: red;
    transform: rotate(0deg);
}
.two{
    background: rgb(249, 248, 248);
    transform: rotate(45deg);
}
.tre {
    background: red;
    transform: rotate(90deg);
}
.fyra{
    background: rgb(249, 248, 248);
    transform: rotate(135deg);
}
.fem {
    background: red;
    transform: rotate(180deg);
}
.sex{
    background: rgb(249, 248, 248);
    transform: rotate(225deg);
}
.sju {
    background: red;
    transform: rotate(270deg);
}
.eight{
    background: rgb(249, 248, 248);
    transform: rotate(315deg);
}
#nameInput {
   margin-top: 3rem;
   padding: 0;
   border: none; 
}

.btn-spin {
    margin: 0;
    padding: 0;
    border: yellowgreen solid 1px ;
    background-color: black;
    font-family: 'Black Ops One', 'lato';
    color: yellowgreen;
}
.top-text{
    margin-top: 2rem;
    margin-bottom: 0;
    padding: 3rem;
    border: none;
    font-family: 'Black Ops One', 'lato';
    font-weight: 600;
    
    
}
#spins-left{
    margin: 0;
    padding: 0;
    border: none;
}
#total-score{
    margin: 0;
    padding: 0;
    border: none;
}








































